.subadmin-container {
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-color);
}

.add-btn {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.add-btn:hover {
  background-color: var(--primary-color);
}

.list-container {
  margin-top: 20px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.list-item {
  padding: 16px;
  border-bottom: 1px solid var(--gray-bg);
}

.list-item:last-child {
  border-bottom: none;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  margin: 0px;
}

.actions {
  display: flex;
  gap: 8px;
}

.btn {
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 9999px;
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.edit-btn {
  background: #dbeafe;
  color: var(--primary-hover);
}
.edit-btn:hover {
  background: #bfdbfe;
}

.deactivate-btn {
  background: var(--danger-bg);
  color: var(--danger-color);
}
.deactivate-btn:hover {
  background: var(--danger-bg);
}

.list-body {
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  color: var(--gray-color);
}

.phone {
  display: flex;
  align-items: center;
  margin: 0px;
  gap: 6px;
  color: var(--black-color);
}

.stats {
  display: flex;
  align-items: center;
  gap: 6px;
  /* margin-top: 10px; */
  color: var(--gray-color);
}

/* Modal Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Box */
.modal {
  background: var(--white);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 95%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Form Inputs */
.modal-form input {
  width: calc(100% - 20px);
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--gray-color);
}

/* Buttons */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.save-btn {
  background: var(--primary-color);
  color: var(--white);
}

.cancel-btn {
  background: var(--gray-color);
  color: var(--white);
}

.modal input {
  width: calc(100% - 30px);
  margin: 20px 0;
  padding: 10px 15px;
}

.filter {
  text-align: right;
  padding: 10px;
}

filter #filter {
  padding: 5px;
}
